In [3]:
import pandas as pd

In [8]:
df = pd.read_csv("./wideout_stats.csv")
df.head()

,Player,Age,Team,Pos,G,GS,Tgt,Rec,Yds,Y/R,TD,1D,Succ%,Lng,R/G,Y/G,Ctch%,Y/Tgt,Fmb,Awards
0,Ja'Marr Chase,24,CIN,WR,17,16,175,127,1708,13.4,17,75,62.3,70,7.5,100.5,72.6,9.8,0,PBAP-1AP MVP-8AP OPoY-3
1,Justin Jefferson,25,MIN,WR,17,17,154,103,1533,14.9,10,62,57.1,97,6.1,90.2,66.9,10.0,1,PBAP-1AP OPoY-7
2,Brian Thomas,22,JAX,WR,17,16,133,87,1282,14.7,10,53,55.6,85,5.1,75.4,65.4,9.6,0,PBAP ORoY-4
3,Drake London,23,ATL,WR,17,17,158,100,1271,12.7,9,67,56.3,39,5.9,74.8,63.3,8.0,0,NaN
4,Amon-Ra St. Brown,25,DET,WR,17,17,141,115,1263,11.0,12,73,70.2,66,6.8,74.3,81.6,9.0,1,PBAP-1AP OPoY-11

In [9]:
# Group players together over past 3 seasons
columns = [
    "G",
    "GS",
    "Tgt",
    "Rec",
    "Yds",
    "Y/R",
    "TD",
    "1D",
    "Succ%",
    "Lng",
    "R/G",
    "Y/G",
    "Ctch%",
    "Y/Tgt",
    "Fmb",
]

player_avg = df.groupby(["Player"])[columns].mean().round(2)

In [10]:
# Export Data
# player_avg.to_csv('widout_3yr_avg.csv')

In [11]:
Player_Age = df.groupby('Player')['Age'].max()
Player_Age

Player
A.J. Brown        27
Adam Thielen      34
Alec Pierce       24
Allen Lazard      29
Alvin Kamara      29
                  ..
Xavier Legette    23
Xavier Worthy     21
Zach Ertz         34
Zay Flowers       24
Zay Jones         27
Name: Age, Length: 176, dtype: int64

In [18]:
player_avg = pd.read_csv("./wideout_3yr_avg.csv")

In [ ]:
player_avg = player_avg.merge(Player_Age[["Player", "Age"]], on="Player", how="left")

KeyError: "None of [Index(['Player', 'Age'], dtype='object', name='Player')] are in the [index]"

In [19]:
import pandas as pd

# Convert Player_Age to DataFrame if needed
if isinstance(Player_Age, pd.Series):
    Player_Age = Player_Age.reset_index().rename(columns={'index': 'Player', 0: 'Age'})
elif 'Player' not in Player_Age.columns:
    Player_Age = Player_Age.reset_index().rename(columns={'index': 'Player'})

# Merge and update Age
player_avg = player_avg.merge(Player_Age[['Player', 'Age']], on='Player', how='left', suffixes=('_old', '_new'))
player_avg['Age'] = player_avg['Age_new'].fillna(player_avg['Age_old'])
player_avg = player_avg.drop(columns=['Age_old', 'Age_new'])

print(player_avg.head())

              Player  Avg_Sal      G     GS     Tgt     Rec      Yds    Y/R  \
0         A.J. Brown     32.0  15.67  15.33  133.33   87.00  1343.67  15.60
1       Adam Thielen      8.0  14.67  14.67  102.00   73.67   781.67  10.93
2       Allen Lazard     11.0  13.50  12.50   80.00   48.50   659.00  13.70
3       Amari Cooper     20.0  15.33  14.00  115.00   64.67   985.67  14.90
4  Amon-Ra St. Brown     30.0  16.33  16.33  150.33  113.33  1313.00  11.57

     TD     1D  Succ%    Lng   R/G    Y/G  Ctch%  Y/Tgt   Fmb  Age
0  8.33  60.00  56.97  68.00  5.53  85.53  65.63  10.20  1.33   27
1  5.00  43.00  55.33  36.00  5.00  54.40  72.67   8.00  0.67   34
2  6.00  37.00  56.65  49.50  3.55  48.35  60.85   8.35  0.00   29
3  6.00  45.33  49.50  53.33  4.17  63.53  55.73   8.33  0.67   30
4  9.33  72.00  64.70  61.67  6.93  80.53  75.60   8.73  0.67   25

In [21]:
player_avg.to_csv('./data/wideout_3yr_avg.csv')