In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv("./wideout_stats.csv")
df.head()

,Player,Age,Team,Pos,G,GS,Tgt,Rec,Yds,Y/R,TD,1D,Succ%,Lng,R/G,Y/G,Ctch%,Y/Tgt,Fmb,Awards
0,Ja'Marr Chase,24,CIN,WR,17,16,175,127,1708,13.4,17,75,62.3,70,7.5,100.5,72.6,9.8,0,PBAP-1AP MVP-8AP OPoY-3
1,Justin Jefferson,25,MIN,WR,17,17,154,103,1533,14.9,10,62,57.1,97,6.1,90.2,66.9,10.0,1,PBAP-1AP OPoY-7
2,Brian Thomas,22,JAX,WR,17,16,133,87,1282,14.7,10,53,55.6,85,5.1,75.4,65.4,9.6,0,PBAP ORoY-4
3,Drake London,23,ATL,WR,17,17,158,100,1271,12.7,9,67,56.3,39,5.9,74.8,63.3,8.0,0,NaN
4,Amon-Ra St. Brown,25,DET,WR,17,17,141,115,1263,11.0,12,73,70.2,66,6.8,74.3,81.6,9.0,1,PBAP-1AP OPoY-11

In [6]:
# Group players together over past 3 seasons
columns = [
    "G",
    "GS",
    "Tgt",
    "Rec",
    "Yds",
    "Y/R",
    "TD",
    "1D",
    "Succ%",
    "Lng",
    "R/G",
    "Y/G",
    "Ctch%",
    "Y/Tgt",
    "Fmb",
]

player_avg = df.groupby(["Player"])[columns].mean().round(2)

In [ ]:
# Export Data
# player_avg.to_csv('widout_3yr_avg.csv')